/* Common Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.section-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.btn-primary {
    padding: 16px 32px;
    color: white;
    border: 0;
    border-radius: 8px;
    background: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.highlight-text {
    color: #F00;
}

.section-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

/* Header Section styles */

header {
    margin-top: 50px !important;
}

/* Banner Section Style */

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 340px;
    border-radius: 16px;
}

.banner-text-container {
    text-align: center;
    color: #FFF;
}

.banner-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-subtitle {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Main Section Style */

main section {
    margin-top: 120px;
}

/* Discount Section Style */

.discount {
    text-align: center;
}

.discount-rate {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-heading {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 16px;
}

/* Party Section Styles */

.party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/enjoying-party.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    border-radius: 16px;
    display: flex;

}

.party-text-container {
    margin: 40px;
    color: #FFF;
    width: 700px;
}

.party-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.party-btn {
    background-color: unset;
}

.party-img {
    width: 100%;
}

/* Party time Section Style */

.party-time {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding: 100px 380px;
    text-align: center;
}

.party-time-info-container {
    margin-bottom: 48px;
}

.party-time-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

/* Comming Soon Section Style */

.comming-soon {
    display: flex;
    align-items: center;
    gap: 70px;
}

.comming-soon h3{
    margin-bottom: 16px;
}

.comming-soon-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    width: 390px;
}

.comming-soon-img-container{
    border: 15px solid #F00;
    padding: 35px;
    border-radius: 100%;
}

.comming-soon-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.comming-soon .new-year-img{
    margin-top: 43px;
}